/* Generell styling */
html{
    background-color:rgb(29, 28, 28);  
}
body {
    background-color:rgb(29, 28, 28);
    max-width: 100%;
    overflow-x: hidden;
    margin: 2px;
    
}

#navbar {
    background-color: #383838;
    color:white;
}

#bg-color{
    background-color:rgb(29, 28, 28);
    color:white;
}



/*Index styling*/
#index-heading{
    font-family: Georgia, serif;
    color: white;
    display:block;
    background-color:rgb(29, 28, 28);
    margin:0;
}

/*About styling*/
#about-heading{
    font-family: Georgia, serif;
    color: white;
    display:block;
    background-color:rgb(29, 28, 28);
    margin:0;
}

/*about.html styling*/
#no-border{
    border:none;
}

/*index.php styling*/
#leftside{
    width : 300px;
    height : 700px;
}