/* Generell styling */
html{
    background-color:rgb(29, 28, 28);
    height: 100%;  
}
body {
    background-color:rgb(29, 28, 28);
    max-width: 100%;
    overflow-x: hidden;
    margin: 2px;
    overflow-y: auto;
    
}

#navbar {
    background-color: #383838;
    color:white;
}

#bg-color{
    background-color:rgb(29, 28, 28);
    color:white;
}



/*Index styling*/
#index-heading{
    font-family: Georgia, serif;
    color: white;
    display:block;
    background-color:rgb(29, 28, 28);
    margin:0;
}

/*about.html styling*/
#no-border{
    border:none;
}

/*index.php styling*/
#leftside{
    width : 300px;
    height : 700px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* use.php styling */
#midtstill{
    margin-left:31%;
}

footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}